<style>
    body {
        font-family: Arial, sans-serif;
    }

    .topbar{
        background-color: #bf2f38;
        color: #fff;
    }

    
</style>


<div class="topbar">
    <div class="">
        <div class="">
            <img src="~/assets/images/fodub.png" alt="Logo Fondo XYZ" />
        </div>
    </div>
</div>
