@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Account" asp-action="Login" method="post">
    <div>
        <label>Email</label>
        <input type="email" name="Email" required />
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="Password" required />
    </div>
    <div>
        <label>Remember Me</label>
        <input type="checkbox" name="RememberMe" />
    </div>
    <button type="submit">Login</button>
</form>
