@{
    ViewData["Title"] = "Register";
}


<!DOCTYPE html>
<html>

<style>
    body {
        background-color: #f2f2f2;
    }

    .container {
        background-color: #fff;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 30px;
    }

    .btn-primary {
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn-primary:hover {
        background-color: #c82333;
        border-color: #c82333;
    }
</style>

<body>
    <div class="container col-md-4 mt-5">
        <div class="text-center mb-4">
            <img src="~/assets/images/logo_fodun.jpg" alt="FODUN Logo" height="100" />
        </div>
        <div class="d-flex align-items-center justify-content-center mb-5">
            <div class="flex-grow-1 border-bottom"></div>
            <h6 class="mx-3 mb-0">Registro de Usuario</h6>
            <div class="flex-grow-1 border-bottom"></div>
        </div>

        <form asp-controller="Account" asp-action="Register" method="post">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email" name="Email" required />
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" name="Password" required />
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required />
            </div>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary btn-block">Registrarme</button>
            </div>

        </form>

        <div class="text-left mt-3">
            <a href="~/Account/Login" class="btn btn-link">Volver</a>
        </div>
    </div>

</body>

</html>